if (!-d $request_filename){
 set $rule_0 1$rule_0;
}
if ($rule_0 = "1"){
 rewrite ^/(.*)/$ /$1 permanent;
}
if (!-d $request_filename){
 set $rule_1 1$rule_1;
}
if (!-f $request_filename){
 set $rule_1 2$rule_1;
}
if ($rule_1 = "21"){
 rewrite ^/ /index.php last;
}
if ($http_authorization ~ "."){
 set $rule_2 1$rule_2;
}
if ($rule_2 = "1"){
 #setenv HTTP_AUTHORIZATION:$http_authorization;
}